<div class="main top-main">
  <div class="top-message">
    <h2>TTI Design Engineering Lab.<br>Questionnaires</h2>
    <h6>豊田工業大学　設計工学研究室</h6>
    <p>アンケート回答は<a href ="/posts/index" class="kotira">こちら</a>から</p>
  </div>
</div>
